.Banner {
    min-height: 180px;
    /* background-color: #222; */
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;

    background-image: linear-gradient(to right, #0a0a23 , #CC0000);
    /* background-color: black; */
    background-repeat: no-repeat;
    background-position: 0px bottom;
    background-size: auto 100%;
    background-color: #0a0a23 !important;
}

.bannerImage {
    background-image: url('/images/bg-clear.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    /* background-color: #0a0a23 !important; */
    -webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.Banner h1 {
    padding-top: 50px;
}

.Banner h1 a:hover {
    color: white;
}

.AvailableButton {
    color: #FFF;
    background-color: #CC0000;
    padding: 4px 12px;
    border-radius: 0.2em;
    margin: 0 8px;
    display: inline-block;
}

.LiveStreaming {
    float: right;
    margin-top: -120px;
    margin-right: 30px;
}

@media (max-width: 801px) {

    .LiveStreaming {
        float: left;
    }

}